{% extends "register/layout.html" %}

{% block title %}
Login here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" class="form-group">
    <h2> Please log-in to your account. </h2>
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-success">Login</button>
    <p>Don't have an account? Create one <a href="/register">here.</a>
        <br></br>
    Alternatively, you can return to the main page <a href="/compware" class="Index">here</a></p>
</form>
{% endblock %}  